In [1]:
import sqlite3
import pandas as pd

In [17]:
conn = sqlite3.connect('5784/noahs.sqlite')
conn.row_factory = sqlite3.Row

cur = conn.cursor()

res = cur.execute('SELECT * FROM customers')
customers_data = [dict(row) for row in res.fetchall()]

cur.close()
conn.close()

In [19]:
customers_df = pd.DataFrame(columns=customers_data[0].keys(), 
                            data=customers_data)

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long
0,1001,Jacqueline Alvarez,105N Elizabeth St,"Manhattan, NY 10013",1958-01-23,315-377-5031,America/New_York,40.71817,-73.99747
1,1002,Julie Howell,185-1 Linden St,"Brooklyn, NY 11221",1956-12-03,680-537-8725,America/New_York,40.69426,-73.92167
2,1003,Christopher Ali,174-28 Baisley Blvd,"Jamaica, NY 11434",2001-09-20,315-846-6054,America/New_York,40.68902,-73.77347
3,1004,Christopher Rodriguez,102 Mount Hope Pl,"Bronx, NY 10453",1959-07-10,516-275-2292,America/New_York,40.84939,-73.90916
4,1005,Jeffrey Wilkinson,17 St Marks Pl,"Manhattan, NY 10003",1988-09-08,838-830-6960,America/New_York,40.72804,-73.98712
...,...,...,...,...,...,...,...,...,...
8255,9256,Leslie Johnson,2364 1st Ave,"Manhattan, NY 10035",1995-01-02,914-511-7261,America/New_York,40.80120,-73.93293
8256,9257,Susan Gilmore,1025B Castle Hill Ave,"Bronx, NY 10472",1960-11-11,516-774-9355,America/New_York,40.82980,-73.85030
8257,9258,Valerie Michelle Bowman,98 Aspen Way,"Denver, CO 80294",1992-02-09,719-991-9904,America/Denver,39.76200,-104.87580
8258,9259,Sandy Rios,143-9 Ferndale Ave,"Jamaica, NY 11435",1954-05-02,516-361-8507,America/New_York,40.69033,-73.79810
8259,9260,Michael Brooks,1703 Park Pl,"Hesperia, CA 92344",1945-09-26,415-339-0869,America/Los_Angeles,34.39750,-117.31470